<div>
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="footer-heading"> E-STORE </h4>
                        <div class="footer-underline"></div>
                        <p>
                            Проект был разработан в целях проверки навыков разработчика
                        </p>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footer-heading">Ссылки</h4>
                        <div class="footer-underline"></div>
                        <div class="mb-2"><a href="{% url 'index' %}" class="text-white">На главную</a></div>
                        <div class="mb-2"><a href="{% url 'about-us' %}" class="text-white">О нас</a></div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footer-heading"> Купить сейчас</h4>
                        <div class="footer-underline"></div>
                        <div class="mb-2"><a href="{% url 'wishlist' %}" class="text-white">Избранное</a></div>
                        <div class="mb-2"><a href="{% url 'cart' %}" class="text-white">Корзина</a></div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="footer-heading">Наш адрес</h4>
                        <div class="footer-underline"></div>
                        <div class="mb-2">
                            <p>
                                <i class="fa fa-map-marker"></i> Tashkent Almazar district, 10069
                            </p>
                        </div>
                        <div class="mb-2">
                            <a href="" class="text-white">
                                <i class="fa fa-phone"></i> +998 97 444 33 22
                            </a>
                        </div>
                        <div class="mb-2">
                            <a href="" class="text-white">
                                <i class="fa fa-envelope"></i> support@gmail.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p class=""> &copy; 2024 - Diyor - E-STORE. All rights reserved.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="social-media">
                            Get Connected:
                            <a href="https://t.me/diyor_030"><i class="fa fa-telegram">  | @diyor_030</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>